{"snippet":[
  {"name":"<_filename minus extension_>"},
  {"language":"<_scripting/programming language_>"},
  {"title":"<_short description_>"},
  {"type":"<_block/wrap/dynamic_>"},
  {"before":"<_code before selection_>"},
  {"after":"<_code after selection_>"}
  ]}
