<link rel='stylesheet' media='all' href='normal.css' />														                        <!--ALL/NORMAL STYLESHEET-->
<link rel='stylesheet' media='screen and (min-width: 769px)' href='large.css' />							            <!--LARGE STYLESHEET-->
<link rel='stylesheet' media='screen and (min-width: 481px) and (max-width: 768px)' href='medium.css' />	<!--MEDIUM STYLESHEET-->
<link rel='stylesheet' media='screen and (max-width: 480px) and (min-width: 240px)' href='small.css' />		<!--SMALL STYLESHEET-->
<link rel='stylesheet' media='print' href='print.css' />													                        <!--PRINT STYLESHEET-->
<!--[if lt IE 8]> <link rel='stylesheet' media='all' href='IE8-.css' />	 <![endif]-->						          <!--IE8 and below-->
